* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cat {
  width: 545px;
  display: block;
  margin-bottom: 20px;
  border-radius: 15px;

  /* старт для анимации */
  opacity: 0;
  transform: translate(-400px, -200px) rotate(-10deg);
}

h1 {
  font-size: 100px;
  margin-bottom: 25px;
  color: #EC4899;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 60px;
}

button {
  padding: 14px 40px;
  font-size: 25px;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
  font-weight: 600;
}

#yesBtn,
#noBtn {
  background: #98008e;
  color: white;
}

button:hover {
  transform: scale(1.08);
}
