* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


body {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Щенок */
.puppy {
  width: 360px;
  position: relative;
  transform: translateX(-600px);
  opacity: 0;
}

/* Письмо */
.letter {
  width: 80%;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 1.6;
  color: #86006b;
  font-weight: 700;
}

.back-btn {
  margin-top: 15px;
  padding: 12px 34px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: #86006b;
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
  align-self: flex-start;
}

.back-btn:hover {
  transform: scale(1.08);
  background: #333;
}

.back-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.letter {
  letter-spacing: 0.2px;
}