* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.text {
  font-size: 130px;
  font-weight: 800; /* более жирный */
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}

button {
  padding: 16px 60px;
  font-size: 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: #98008e;
  color: white;
  transition: transform 0.25s ease;
}

button:hover {
  transform: scale(1.08);
}
